<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mario_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{19,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mario_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{26,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{26,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{22,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{26,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>mario_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,46}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{26,34}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>mario_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{24,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mario.png</string>
            <key>size</key>
            <string>{30,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f9179b06f1836512fcbfa9e0413ab97:a0bcc92f7a9efece33deed5d3f119b88:854039c26f3a067962c5cc16d967b8ed$</string>
            <key>textureFileName</key>
            <string>mario.png</string>
        </dict>
    </dict>
</plist>
